{% extends 'main.html' %}
{% block body %}
<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
        <h1 class="mb-0 bread">Contact us</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">

    
  
      <section class="ftco-section contact-section bg-light">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                  <p><span>Address:</span> Nepal Kathmandu</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                  <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                  <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="info bg-white p-4">
                  <p><span>Website</span> <a href="#">yoursite.com</a></p>
                </div>
            </div>
          </div>
          <div class="row block-9">
            <div class="col-md-6 order-md-last d-flex">
              <form  class="bg-white p-5 contact-form" method="POST">
                  
                <!-- <div class="form-group">
                    {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">submit</button>
                </div> -->
                
                  <!-- <input type="submit"  class="btn btn-primary py-3 px-5"> -->
                 
                  <div class="form-group">
                    {% csrf_token %}
                    <!-- <input type="hidden" name="csrfmiddlewaretoken" value="Pk9cnM7yZhINphoHx4cBbM0pU3Z0G44g2LzjeBDIAnyv3AwEfXSCjnR6slUANdwu"> -->
                 <input type="text" name="name" maxlength="500" required="" id="id_name" class="form-control" placeholder="Name"></p>
                 <input type="email" name="email" maxlength="500" required="" id="id_email" class="form-control" placeholder="Email"></p>
 <input type="text" name="subject" maxlength="500" required="" id="id_subject" class="form-control" placeholder="Subject"></p>
 <textarea name="message" cols="40" rows="10" maxlength="500" required="" id="id_message" class="form-control" placeholder="Message"></textarea></p>
                 
                <button type="submit" class="btn btn-primary py-3 px-5">submit</button>
                </div>
              </form>
            
            </div>
  
            <div class="col-md-6 d-flex">
                <div id="map" class="bg-white"></div>
            </div>
          </div>
        </div>
      </section>

</div>

{% endblock %}
