{% extends 'main.html' %}

{% block body %}
<div class="container">
  <h1>Profile Form</h1>
  <form class="register-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}




    {{ u_form.as_p }}
    {{ p_form.as_p }}

    <div class="form-group">
      <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
      <input type="text" name="username" id="id_username" placeholder="Username">
    </div>


    <button type="submit">Submit</button>
  </form>
</div>

{% endblock %}